<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Web</title>
</head>
<body>
    <form class = "grid" action="/result" method="GET">
        <div>
        {% if products is not none %}
        <h3 style="color: blue;">Voici la liste des produits : <br>{{products}}</h3>
        {% endif %}
        </div>
        <div>
            <button id="button-get">Récuperer inventaire</button>
        </div>
    </form>
    <form action="/order/{{order_id}}" method="post">
        <select name="choix">
            {% for item in products %}
            <option name="item" value="{{ item }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <div>
            <label for="input_quantite"></label><input type="text" id="input_quantite" name="quantite" value="{{ quantite }}">
        </div>
        <input type="submit" value="Envoyer Commande">
    </form>
    <div>
        <h1>{{ order_id }}</h1>
    </div>
</body>
</html>